@import '_variables.scss';

.header {
  &__div {
    justify-content: space-between;
    border: 1px solid $light;
    padding: 30px 70px;
  }

  &__logo {
    flex-shrink: 0;
    cursor: pointer;
  }
  
  &__logo-foto {
    display: block;
  }

  &__link-margin:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    top: 2px;
    bottom: 1px;
    background-color: $cherry;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s;
  }

  &__link:hover {
    color: $dark-cherry;
  }

  &__link:focus:not(:active)::before {
    transform: scaleX(1);
  }

  &__link:focus:not(:hover):not(:active) {
    color: $white;
    outline: none;
  }

  &__link:active {
    color: $dark-cherry;
    transition: none;
  }

  &__focus-link {
    position: relative;
  }
}

@media (max-width: 576px) {
  .header {
    &__div {
      flex-direction: column;
      padding: 16px 5px;
    }

    &__menu {
      flex-direction: column;
      column-count: 2;
    }
  }
}